<h1><%= t('hd_edit_company') %></h1>

<%= simple_form_for [:admin, @company ] do |f| %>

  <% if @company.image.present? %>
    <%= image_tag(@company.image.thumb.url) %>
  <% end %>

  <%= f.input :image, :label => t('f_company_image') %>
  <%= f.input :title, :label => t('f_company_title') %>
  <%= f.input :location, :label => t('f_company_location') %>
  <%= f.submit t('f_update') %>
<% end %>
