<div class='pull-right admin-btn-add'>
  <%= link_to(t('btn_add_company'), new_admin_company_path, :class => 'btn btn-sm btn-default' ) %>
</div>

<br>
<!-- company index -->
<table class="table table-boldered table-striped custab" >
  <thead>
      <tr>
        <th width="50">#</th>
        <th width="80"><%= t('th_company_image') %></th>
        <th width="80"><%= t('th_company_title') %></th>
        <th width="200"><%= t('th_company_location') %></th>
        <th width="100"><%= t('th_manage') %></th>
      </tr>
  </thead>

  <% @companies.each do |company| %>
    <tr>
      <td style="vertical-align:middle">
        <%= company.id %>
      </td>
      <td>
        <% if company.image.present? %>
          <%= image_tag(company.image.thumb.url, class: "thumbnail logo-tiny") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      </td>
      <td style="vertical-align:middle">
        <%= company.title %>
      </td>
      <td style="vertical-align:middle">
        <%= company.location %>
      </td>
      <td style="vertical-align:middle">
        <%= link_to edit_admin_company_path(company), :class => "btn btn-md btn-success button_highlight" do %>
          <i class="fa fa-pencil-square-o fa-1.5x" aria-hidden="true")></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<!-- pagination -->
<div class="col-md-10 col-md-offset-1 job-bottom">
	<div class="text-center">
		<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
	</div>
</div>
