<div class="container-fluid">
  <div class="col-md-12">
    <section id="job-info">

      <!-- starred / star -->
      <div>
        <% if current_user && current_user.is_follower_of?(@job) %>
          <%= link_to unstar_job_path(@job), method: :post do %>
            <sapn class="fa fa-star fa-2x"></sapn>
          <% end %>
        <% else %>
          <%= link_to star_job_path(@job), method: :post do %>
            <sapn class="fa fa-star-o fa-2x"></sapn>
          <% end %>
        <% end %>
      </div>


      <!-- job logo -->
      <% if @job.company.title == 'Facebook' %>
        <img class="job-logo" src='http://i.imgur.com/zVU8xTV.jpg'>
      <% elsif @job.company.title == 'Google'%>
        <img class="job-logo" src='http://i.imgur.com/afZPGbL.png'>
      <% elsif @job.company.title == 'Amazon'%>
        <img class="job-logo" src='http://i.imgur.com/eJwYa9C.gif'>
      <% elsif @job.company.title == 'Uber'%>
        <img class="job-logo" src='http://i.imgur.com/SOnKxie.jpg'>
      <% elsif @job.company.title == 'Twitter'%>
        <img class="job-logo" src='http://i.imgur.com/9qGrqGG.png'>
      <% elsif @job.company.title == 'Pinterest'%>
        <img class="job-logo" src='http://i.imgur.com/Tw58Bhw.png'>
      <% else %>
        <i class="logo-mini fa fa-file-text fa-fw fa-5x"  aria-hidden="true"></i>
      <% end %>
      <!-- job logo end -->

      <!-- title -->
      <div class="job-title">
        <%= @job.title %>
      </div>

      <!-- location and salary -->
      <p class="details">
        <i class="icon fa fa-usd fa-fx" aria-hidden="true"></i>
        <%= @job.wage_lower_bound / 1000 %> K -
        <%= @job.wage_upper_bound / 1000 %> K

        <p class="address">
          <i class="fa fa-location-arrow fa-fx" aria-hidden="true"></i>
          <%= @job.address %>
        </p>
      </p>

      <!-- description -->
      <p class="description">
        <%= @job.description %>
      </p>


      <!-- show google map -->
      <div id="map"></div>

      <script src="//maps.google.com/maps/api/js?key=AIzaSyADE2kmBA0od9HaUJWRtmLJRRZd4sbs4aI"></script>
      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

      <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
      </script>




      <!-- submit resume -->
      <div class='button'>
        <%= link_to(t('btn_resume'), new_job_resume_path(@job), class: 'btn btn-lg btn-danger button_highlight') %>
      </div>


  </div>
</div>
