<div class="content-section-a">
  <section id="testimony">
    <div class="wrapper">
        <h2 class="section-heading">
          <%= t('sec_heading_testimonial') %>
        </h2>
        <p class="lead">
        <%= t('sec_text_testimonial') %>
        </p>
        <div class="testimony">
            <img src='http://i.imgur.com/sH7LqqF.jpg'>
            <p>
              <%= t('sec_text_testimonial_1') %>
            </p>
        </div>
        <div class="testimony">
            <img src='http://i.imgur.com/XAUsIIq.jpg'>
            <p>
              <%= t('sec_text_testimonial_2') %>
            </p>
        </div>
        <div class="testimony">
            <img src='http://i.imgur.com/qmatDSi.png'>
            <p>
              <%= t('sec_text_testimonial_3') %>
            </p>
        </div>
    </div>
  </section>
</div>
