<div class='pull-right admin-btn-add'>
  <%= link_to(t('btn_add'), new_admin_job_path, :class => 'btn btn-sm btn-default' ) %>
</div>

<br>

<table class="table table-boldered table-striped custab" >
  <thead>
      <tr>
        <th><%= t('th_company') %></th>
        <th><%= t('th_category') %></th>
        <th><%= t('th_position') %></th>
        <th><%= t('th_count') %></th>
        <th><%= t('th_manage') %></th>
        <th><%= t('th_published') %></th>
      </tr>
  </thead>

  <% @jobs.each do |job| %>
    <tr>
      <td>
        <%= job.company.title %>
      </td>
      <td>
        <%= job.category %>
      </td>
      <td>
        <%= link_to(job.title, admin_job_path(job)) %>
      </td>
      <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
      <td>
      <!-- edit, delete, hide/publish -->
          <!-- edit -->
          <%= link_to(t('btn_edit'), edit_admin_job_path(job), :class => 'btn btn-xs btn-success') %>
          <!-- delete -->
          <%= link_to(t('btn_delete'), admin_job_path(job), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger')  %>

      <% if job.is_hidden %>
          <!-- publish -->
        <%= link_to(t('btn_publish'), publish_admin_job_path(job) , :method => :post, :class => 'btn btn-xs btn-default') %>
      <% else %>
          <!-- hide -->
        <%= link_to(t('btn_hide'), hide_admin_job_path(job), :method => :post,  :class => 'btn btn-xs btn-default') %>
          <% end %>
      </td>

      <td>
          <%= job.created_at %>
      </td>
    </tr>
  <% end %>
</table>

<!-- pagination -->
<div class="col-md-10 col-md-offset-1 job-bottom">
	<div class="text-center">
		<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
	</div>
</div>
