<div class="col-md-6 col-md-offset-3 form-setup">
  <div class="col-md-12 form-content">
    <div class="col-md-10 col-md-offset-1">
      <h2><%= t('hd_new') %></h2>
      <%= simple_form_for [:admin, @job ] do |f| %>
        <div class="form-inputs">
          <%= select_tag(:company_id, options_for_select(@companies), :prompt => t('f_company')) %>
          <%= f.input :title, :label => t('f_title') %>
          <%= f.input :description, :label => t('f_description') %>
          <hr />
          <%= f.input :category, :label => t('f_category') %>
          <%= f.input :wage_lower_bound, :label => t('th_salary_range') do %>
          <br>
            <span class="wage-form"> $ </span>
              <%= f.input_field :wage_lower_bound, :as => :string, class: "wage" %>
            <span class="wage-form"> - $</span>
            <%= f.input_field :wage_upper_bound, :as => :string, class: "wage" %>
         <% end %>
          <hr />
          <%= f.input :city, :label => t('f_city') %>
          <%= f.input :address, :label => t('f_company_location') %>
          <%= f.input :contact_email, :label => t('f_email') %>
          <%= f.input :is_hidden, :label => t('f_job_status') %>
        </div>

        <div class="form-actions">
          <%= f.submit t('f_submit'), class: 'btn btn-lg btn-danger button_highlight' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
